*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: black;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: white;
}

#header{
    text-align: center;
    background-color: gray;
    padding: 1.5rem 0;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.pokemon-card{
    /* /* display: flex; */
    flex-direction: column;
    background-color: gray;
    text-align: center;
    margin: 0.5%;
    padding: 2rem 0 1rem 0;
    width: 40rem;
    border-radius: 1rem;
}

.pokemon-card img{
    width: 40%;
    background-color: gainsboro;
    border-radius: 1rem;
}